<!--<button (click)="addDraggableMarker()">Add draggable marker</button>-->
<!--{{chosenCentroids}}-->
<!--<div class="form-group">-->
<!--  <label for="nSensors">Sensors</label>-->
<!--<input type="number" class="form-control" id="nSensors"-->
<!--       required-->
<!--       [(ngModel)]="nSensors" name="nSensors">-->

<!--  <label for="theta">Theta</label>-->
<!--  <input type="number" class="form-control" id="theta"-->
<!--  <input type="number" class="form-control" id="theta"-->
<!--         required-->
<!--         [(ngModel)]="theta" name="theta">-->

<!--  <label for="minAge">minAge</label>-->
<!--  <input type="number" class="form-control" id="minAge"-->
<!--         required-->
<!--         [(ngModel)]="minAge" name="minAge">-->

<!--  <label for="maxAge">maxAge</label>-->
<!--  <input type="number" class="form-control" id="maxAge"-->
<!--         required-->
<!--         [(ngModel)]="maxAge" name="maxAge">-->

<!--  <label for="weight">Weighting</label>-->
<!--  Workplace weight: {{(1-populationWeight).toFixed(1)}}-->
<!--  <input type="range" id="weight" name="weight"-->
<!--         min="0" max="1" step="0.1"  [(ngModel)]="populationWeight" >-->
<!--Population weight: {{populationWeight}}-->
<!--</div>-->

<!--<button (click)="submitQuery()">Submit Query</button>-->
<!--<br>-->




<!--<button (click)="toggleDisability()">Show disability</button>-->
<!--<button (click)="toggleAge()">Show age</button>-->


<!--<div *ngIf="jobInProgress">{{jobProgressPercent}}%</div>-->

<!-- MAP -->
<div class="map-container" leaflet
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     (leafletMapZoomEnd)="onMapZoomEnd($event)">

  <div id="no-scroll">
  <div class="leaflet-top leaflet-left" style="pointer-events: initial;">
    <button mat-raised-button color="primary" (click)="toggleOptimisationCard()">OPTIMISATION QUERY
      <mat-icon matPrefix fontSet="fa" fontIcon="fa-caret-down" style="margin-top:4px;"></mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="plotOptimisationSensors(testScenario.result.sensors, testScenario.result.oa_coverage)">Sample scenario</button>
    <button mat-raised-button color="primary" (click)="submitQuery()">to do</button>


    <!-- QUERY CARD-->

    <mat-card id="optimisationQueryCard" *ngIf="optimisationQueryCardOpen">
      <!--  Submitting query content-->
      <mat-card-content *ngIf="!jobInProgress">
        <mat-grid-list cols="3" rowHeight="1:0.5" class="sliderRow">
          <!--       choice 1-->
          <mat-grid-tile>Favour place of residence</mat-grid-tile>
          <mat-grid-tile>
            <ngx-slider class="placeSlider" [(value)]="placeLow" [options]="{floor: 0,  ceil: 100}"></ngx-slider>
          </mat-grid-tile>
          <mat-grid-tile>Favour place of work</mat-grid-tile>

          <!--    choice 2-->
          <mat-grid-tile>Age range to prioritise</mat-grid-tile>
          <mat-grid-tile>
            <ngx-slider [(value)]="ageLow" [(highValue)]="ageHigh" [options]="{floor: 0,  ceil: 100}"></ngx-slider>
          </mat-grid-tile>
        </mat-grid-list>

        <!--    inputs-->
        <mat-grid-list class="grid-tile-left-justify" cols="2" rowHeight="1:0.25">
          <mat-grid-tile>
            <p style="margin-bottom: 0px">Set budget or number of sensors:</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <p style="margin-bottom: 0px">Set satisfactory coverage?/theta?:</p>
          </mat-grid-tile>

          <mat-grid-tile>
            <form>
              <mat-form-field style="margin-right: 4px;" appearance="fill" floatLabel="always">
                <mat-label class="primaryText">Budget</mat-label>
                <mat-icon matPrefix fontSet="fa" fontIcon="fa-pound-sign"></mat-icon>
                <input (change)="changeInBudget()" name="budget" [min]="sensorCost * minSensorsAllowed" [step]="sensorCost"  [(ngModel)]="budget" matInput type="number">
              </mat-form-field>
              <mat-form-field  appearance="fill" floatLabel="always">
                <mat-label class="primaryText">Sensors</mat-label>
<!--                <mat-icon svgIcon="sensor1" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>-->
                <mat-icon  style="color: #6200eeff; text-shadow: 1px 1px 3px rgba(0,0,0,0.5);" matPrefix fontSet="fa" fontIcon="fa-bullseye"></mat-icon>
                <input name="nSensors" [min]="minSensorsAllowed" (change)="changeInSensorNumber()" [(ngModel)]="nSensors" matInput type="number">
              </mat-form-field>
            </form>
          </mat-grid-tile>
          <mat-grid-tile >
            <mat-form-field  appearance="fill" floatLabel="always">
              <mat-label class="primaryText">Metres</mat-label>
              <mat-icon matPrefix fontSet="fa" fontIcon="fa-arrows-alt"></mat-icon>
              <input name="theta" (change)="changeInTheta()" [min]="thetaMinAllowed"  [(ngModel)]="theta" matInput type="number">
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

        <mat-card-actions align="end">
          <!--      todo reset form-->
          <button mat-stroked-button color="primary" (click)="resetJob()">RESET</button>
          <button mat-raised-button color="primary" (click)="submitQuery()">SUBMIT</button>
        </mat-card-actions>

        <div *ngIf="viewingSensorPlacement">
          <hr>
          <p style="font-size: medium; font-weight: 500;">Optimisation evaluation</p>
          <mat-grid-list cols="10" rowHeight="1:0.5">
            <mat-grid-tile colspan='6'>
              <p>View output area coverage on map:
                <mat-slide-toggle color="primary" checked (click)="toggleOptimisationOACoverage()"></mat-slide-toggle>
              </p>
            </mat-grid-tile>
            <mat-grid-tile colspan='4'>
              <p>Total coverage: {{ totalCoverage | number : '1.2-2'}}
              </p>
            </mat-grid-tile>
          </mat-grid-list>


          <button style="margin-top: 2px;" class="roundedButtonNoHiddenOverflow defaultCursor" mat-stroked-button>
            <div style="display: flex; flex-direction: row;"   class="list-horizontal">
              <div class="legendItem" *ngFor="let item of outputAreaCoverageLegend">
                <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>
                <span style="font-size: small">{{item.title}}</span>
              </div>

            </div>
          </button>
        </div>


      </mat-card-content>

      <!--  waiting for job in progress content-->
      <mat-card-content *ngIf="jobInProgress">
        <p  align="center" style="font-size: 20px; margin-top: 10px; margin-bottom: 10px;">Processing sensor placement</p>

        <mat-progress-bar
          class="progressBar"
          color="accent"
          mode="determinate"
          [value]="jobProgressPercent"
        >
        </mat-progress-bar>
        <p *ngIf="jobProgressPercent === 0" align="center" style="font-size: 14px; margin-top: 10px; margin-bottom: 10px;">Your job is in a queue...</p>

        <mat-card-actions align="end">
          <button (click)="cancelOptimisationRun()" mat-button color="primary">CANCEL</button>
        </mat-card-actions>
      </mat-card-content>

    </mat-card>

  </div>

<!--  TOP RIGHT BUTTONS-->
  <div class="leaflet-top leaflet-right " style="pointer-events: auto;">
<!--    <mat-chip-list style="display:inline-block;">-->
<!--      <mat-chip *ngIf="localAuthority === 'ncl'">Newcastle</mat-chip>-->
<!--      <mat-chip *ngIf="localAuthority === 'gates'">Gateshead</mat-chip>-->
<!--    </mat-chip-list>-->
    <button mat-raised-button color="primary" [matMenuTriggerFor]="LAMenu">
      <span *ngIf="localAuthority === 'ncl'">Newcastle</span>
      <span *ngIf="localAuthority === 'gates'">Gateshead</span>
      <mat-icon matPrefix fontSet="fa" fontIcon="fa-caret-down" style="margin-top:4px;">
      </mat-icon>
    </button>
    <!-- #enddocregion mat-menu-trigger-for -->
    <mat-menu #LAMenu="matMenu" >
<!--      exclude current selection from list-->
      <button value="ncl" *ngIf="localAuthority === 'gates'" (click)="selectLA('ncl')" mat-menu-item>Newcastle upon Tyne</button>
      <button value="gates" *ngIf="localAuthority === 'ncl'" (click)="selectLA('gates') "mat-menu-item>Gateshead</button>
    </mat-menu>
  <button mat-raised-button color="primary"   (click)="toggleDataLayersChips()">DATA LAYERS
    <mat-icon matPrefix fontSet="fa" fontIcon="fa-caret-down" style="margin-top:4px;">
    </mat-icon>
  </button>
  </div>

<!--    <button style="width: 200px;" class="roundedButton" mat-flat-button color="accent">Disability and another long title to test buttons</button>-->
<!--    <button mat-flat-button color="accent" style="width:40px;"><div style="height: 100%">Some really long text that is more than 20px</div></button>-->

    <!--  Data layers-->
  <div *ngIf="dataLayersChipsVisible"  class="leaflet-top leaflet-right " style="pointer-events: auto; margin-top: 70px; ">

    <div class="dataLayersList" style="display: flex; flex-direction: column; align-items: flex-end !important;">

<!--      Each layer waits to display until the layers have loaded (i.e. they are no longer undefined)-->

    <!--        disability-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!disabilityDataVisible && (disabilityDataNcl===undefined) && (disabilityDataGates===undefined) "  >Disability loading...</button>
    <button class="roundedButton mat-body-2" mat-flat-button color="accent" *ngIf="!disabilityDataVisible && (disabilityDataNcl!=undefined) && (disabilityDataGates!=undefined) " (click)="toggleDisability()" selected>Disability</button>
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #019592;"  *ngIf="disabilityDataVisible" (click)="toggleDisability()" selected>
      <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>
      Disability - % limited in day-to-day activities by LSOA</button>
    <button class="roundedButton defaultCursor" mat-flat-button *ngIf="disabilityDataVisible">
      <div style="display: flex; flex-direction: row;"   class="list-horizontal">
        <div class="legendItem" *ngFor="let item of disabilityDataLegend">
          <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>
          <span style="font-size: small">{{item.title}}</span>
        </div>

      </div>
    </button>

    <!--IMD-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!IMDDataVisible && (IMDDataNcl===undefined) && (IMDDataGates===undefined) " >Index of multiple deprivation loading...</button>
    <button mat-flat-button color="accent" class="mat-body-2 roundedButton" *ngIf="!IMDDataVisible && (IMDDataNcl!=undefined) && (IMDDataGates!=undefined)" (click)="toggleIMD()" selected>Index of multiple deprivation</button>
    <button mat-flat-button style="background-color: #019592;" class="mat-body-2 roundedButton"  *ngIf="IMDDataVisible" (click)="toggleIMD()" selected>
      <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>
      Index of multiple deprivation by LSOA</button>
    <button mat-flat-button class="roundedButton defaultCursor" *ngIf="IMDDataVisible">
      <div >
        <span class="legendItem"  style="font-size: small; white-space:nowrap" *ngFor="let item of IMDLegend">
          <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>
          <span style="font-size: small">{{item.title}}</span>
        </span>

      </div>
    </button>


      <!--Space syntax-->
<!--      to movement-->
<!--      todo inclulde gates in undefined check when included-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!toSSDataVisible && (toSSDataNcl===undefined) && (toSSDataGates===undefined) " >Potential 'to' movement loading...</button>
      <button mat-flat-button color="accent" class="mat-body-2 roundedButton" *ngIf="!toSSDataVisible && (toSSDataNcl!=undefined) " (click)="toggleToSSLayer()" selected>Potential 'to' movement</button>
      <button mat-flat-button style="background-color: #019592;" class="mat-body-2 roundedButton" *ngIf="toSSDataVisible" (click)="toggleToSSLayer()" selected>
        <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>
        Potential 'to' movement - scale todo</button>
      <button mat-flat-button class="roundedButton defaultCursor" *ngIf="toSSDataVisible">
        <div>
        <span class="legendItem" style="font-size: small; white-space:nowrap" *ngFor="let item of toSSLegend">
           <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>
          <span>{{item.title}}</span>
          </span>
        </div>

      </button>

      <!--      through movement-->
<!--      todo add gates to undefined check when included-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!throughSSDataVisible && (throughSSDataNcl===undefined) && (throughSSDataGates===undefined) "  >Potential 'through' movement loading...</button>
      <button mat-flat-button color="accent" class="mat-body-2 roundedButton" *ngIf="!throughSSDataVisible && (throughSSDataNcl!=undefined) " (click)="toggleThroughSSLayer()" selected>Potential 'through' movement</button>
      <button mat-flat-button style="background-color: #019592;" class="mat-body-2 roundedButton" *ngIf="throughSSDataVisible" (click)="toggleThroughSSLayer()" selected>
        <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>
        Potential 'through' movement - scale todo</button>
      <button mat-flat-button class="roundedButton defaultCursor" *ngIf="throughSSDataVisible">
        <div>
        <span class="legendItem" style="font-size: small; white-space:nowrap" *ngFor="let item of throughSSLegend">
           <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>
          <span>{{item.title}}</span>
          </span>
        </div>

      </button>

      <!--UO sensors-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!uoDataVisible && (uoDataNcl===undefined) && (uoDataGates===undefined) "  >Urban Observatory sensors loading...</button>

      <button mat-flat-button color="accent" class="mat-body-2 roundedButton" *ngIf="!uoDataVisible && (uoDataNcl!=undefined) && (uoDataGates!=undefined)" (click)="toggleUOSensors()" selected>Urban Observatory sensors</button>
      <button mat-flat-button style="background-color: #019592;" class="mat-body-2 roundedButton"  *ngIf="uoDataVisible" (click)="toggleUOSensors()" selected>
        <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>
       Urban Observatory sensors</button>
      <button mat-flat-button class="roundedButton defaultCursor" *ngIf="uoDataVisible">
        <div>
<!--        <span class="legendItem" style="font-size: small; white-space:nowrap" *ngFor="let item of uoLegend">-->
<!--           <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>-->
<!--          <span>{{item.title}}</span>-->
<!--          </span>-->
        </div>

      </button>

      <!--Output areas-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!oaDataVisible && (oaNcl===undefined) && (oaGates===undefined) "  >Output areas loading...</button>

      <button mat-flat-button color="accent" class="mat-body-2 roundedButton" *ngIf="!oaDataVisible && (oaNcl!=undefined) && (oaGates!=undefined)" (click)="toggleOA()" selected>Output areas</button>
      <button mat-flat-button style="background-color: #019592;" class="mat-body-2 roundedButton"  *ngIf="oaDataVisible" (click)="toggleOA()" selected>
        <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>
        Output areas</button>
<!--      <button mat-flat-button class="roundedButton defaultCursor" *ngIf="oaDataVisible">-->
<!--        <div>-->
<!--        <span class="legendItem" style="font-size: small; white-space:nowrap" *ngFor="let item of uoLegend">-->
<!--           <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>-->
<!--          <span>{{item.title}}</span>-->
<!--          </span>-->
<!--        </div>-->

<!--      </button>-->


      <!--Schools-->
<!--      todo add gateshead when done to undefined test-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!schoolsDataVisible && (schoolsDataNcl===undefined) " disabled>Schools loading...</button>

      <button mat-flat-button color="accent" class="mat-body-2 roundedButton" *ngIf="!schoolsDataVisible && (schoolsDataNcl!=undefined) " (click)="toggleSchools()" selected>Schools</button>
      <button mat-flat-button style="background-color: #019592;" class="mat-body-2 roundedButton" *ngIf="schoolsDataVisible" (click)="toggleSchools()" selected>
        <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>
        Schools</button>
      <button mat-flat-button class="roundedButton defaultCursor" *ngIf="schoolsDataVisible">
        <div>
                    <span class="legendItem" style="font-size: small; white-space:nowrap" >
                     <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;color: #DB2518; " ></mat-icon>
                    <span>Primary and Middle</span>
                    </span>
                      <span class="legendItem" style="font-size: small; white-space:nowrap" >
                     <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;color: #ac5718; " ></mat-icon>
                    <span>Secondary and Post 16</span>
                      </span>
        </div>

      </button>

      <!--Ages  and people-->
      <button class="roundedButton mat-body-2" mat-flat-button style="background-color: #AAAAAA; cursor:default !important;" *ngIf="!ageData1Visible && !ageData2Visible && !ageData3Visible && (ageData1Gates===undefined) && (ageData2Gates===undefined) && (ageData3Gates===undefined)"  >Age loading...</button>

      <div *ngIf="(ageData1Gates!=undefined) && (ageData2Gates!=undefined) && (ageData3Gates!=undefined)">
      <button *ngIf="!ageData1Visible" (click)="toggleAge1()" mat-flat-button color="accent" class="mat-body-2 roundedButton">Under 16s</button>
        <button *ngIf="ageData1Visible" style="background-color: #019592;" (click)="toggleAge1()" mat-flat-button color="accent" class="mat-body-2 roundedButton"> <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>Under 16s - % of age group per OA/km<span class="sup">2</span> </button>
        <button *ngIf="!ageData2Visible" (click)="toggleAge2()" mat-flat-button color="accent" class="mat-body-2 roundedButton">16-65</button>
        <button  *ngIf="ageData2Visible" style="background-color: #019592;"  (click)="toggleAge2()" mat-flat-button color="accent" class="mat-body-2 roundedButton"> <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>16-65 - % of age group per OA/km<span class="sup">2</span> </button>
        <button *ngIf="!ageData3Visible" (click)="toggleAge3()"  mat-flat-button color="accent" class="mat-body-2 roundedButton">Over 65s</button>
        <button *ngIf="ageData3Visible" style="background-color: #019592;"  (click)="toggleAge3()"  mat-flat-button color="accent" class="mat-body-2 roundedButton"> <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>Over 65s - % of age group per OA/km<span class="sup">2</span> </button>
        <button *ngIf="!populationDataVisible" (click)="togglePopulation()" mat-flat-button color="accent" class="mat-body-2 roundedButton">Total population</button>
        <button *ngIf="populationDataVisible" style="background-color: #019592;" (click)="togglePopulation()" mat-flat-button color="accent" class="mat-body-2 roundedButton"> <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>Total population - % of LA population per OA/km<span class="sup">2</span> </button>
        <button *ngIf="!workersDataVisible" (click)="toggleWorkers()" mat-flat-button color="accent" class="mat-body-2 roundedButton">Workplace</button>
        <button *ngIf="workersDataVisible" style="background-color: #019592;" (click)="toggleWorkers()" mat-flat-button color="accent" class="mat-body-2 roundedButton"> <mat-icon matPrefix fontSet="fa" fontIcon="fa-check" style="margin-top:8px;"></mat-icon>Workplace - % of La total workforce per OA/km<span class="sup">2</span> </button>

      </div>


      <button mat-flat-button class="roundedButton defaultCursor" *ngIf="ageData1Visible || ageData2Visible || ageData3Visible || populationDataVisible || workersDataVisible">
        <div>
        <span class="legendItem" style="font-size: small; white-space:nowrap" *ngFor="let item of ageDataLegend">
           <mat-icon matPrefix fontSet="fa" fontIcon="fa-circle" style="margin-top:8px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;" [style.color]="item.colour" ></mat-icon>
          <span>{{item.title}}</span>
          </span>
        </div>

      </button>
  </div>


  </div>

</div>







