<h1 mat-dialog-title>Air Quality Sensor Placement Decision Support Tool</h1>
<div mat-dialog-content>
  <p>This website is part of the
    <a href="https://www.turing.ac.uk/research/research-projects/spatial-inequality-and-smart-city">
      Spatial Inequality and the Smart City</a> project.
    The website is currently under development and some features may be unavailable.</p>
  <p>The site has two core functions; data visualisation and sensor placement decision support.
    Users can view population characteristics and spatial data that may contribute to negative air quality
    hazards, exposure and vulnerability. Users can also define priority groups to view an optimal sensor placement.
    Currently sensor placements are available for Newcastle-upon-Tyne and data is also available for Gateshead Local Authority.
  </p>
  <p>Future development will expand the sensor placement priority groups to produce further refined placements.</p>
  <p>You can view a sample optimal sensor placement prioritising younger and older people by clicking on 'Sample scenario'.</p>
</div>
<button mat-icon-button color="primary" (click)="close()" >
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>
