/* You can add global styles to this file, and also import other style files */


@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




// data layer chips stack
.dataLayers .mat-chip-list-stacked .mat-chip-list-wrapper {
  align-items: flex-end !important;
}
.dataLayers  .mat-chip-list-wrapper {
  align-items: flex-end !important;
}
