@import '~@angular/material/theming';//notice that the file imported is also different
@include mat-core();

$my-primary: mat-palette($mat-deep-purple, A700);
$my-accent: mat-palette($mat-teal, A400, A100, A700);
$my-app-theme: mat-light-theme($my-primary, $my-accent);
@include angular-material-theme($my-app-theme);
